extends _layouts/base

block content
  header
    #header-centering
      h1 GUSTAVKARLSSON.SE
      nav
        ul
          li
            a(href="#home") HOME
          li
            a(href="#coding") CODING
          li
            a(href="#cv") CV
          li
            a(href="#contact") CONTACT
            
  section#home
    .section-centering
      h1 Hi, I'm Gustav!
      p
        | I'm a programmer and web designer based in Umeå, Sweden. Scroll down to learn more.
      img#photo(src="#{baseImagesUrl}/photo.jpg", alt="Photo")
      
  section#coding
    .section-centering
      h1 Coding
      p
        | I like putting 1's and 0's together to create amazing things, and I do so using a multitude of languages and techniques. Here are some of my favorites:
      table#languages
        tr
          td
            a(href="https://www.java.com/", target="_blank", title="Java")
              img(src="#{baseImagesUrl}/languages/java.png", alt="Java")
          td
            a(href="http://ceylon-lang.org/", target="_blank", title="Ceylon")
              img(src="#{baseImagesUrl}/languages/ceylon.png", alt="Ceylon")
          td
            a(href="http://en.wikipedia.org/wiki/C_Sharp_(programming_language)", target="_blank", title="C#")
              img(src="#{baseImagesUrl}/languages/c-sharp.png", alt="C#")
          td
            a(href="https://www.dartlang.org/", target="_blank", title="Dart")
              img(src="#{baseImagesUrl}/languages/dart.png", alt="Dart")
        tr
          td
            a(href="http://en.wikipedia.org/wiki/HTML5", target="_blank", title="HTML5")
              img(src="#{baseImagesUrl}/languages/html5.png", alt="HTML5")
          td
            a(href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets", target="_blank", title="CSS3")
              img(src="#{baseImagesUrl}/languages/css3.png", alt="CSS3")
          td
            a(href="http://en.wikipedia.org/wiki/JavaScript", target="_blank", title="JavaScript")
              img(src="#{baseImagesUrl}/languages/javascript.png", alt="JavaScript")
          td
            a(href="https://angularjs.org/", target="_blank", title="AngularJS")
              img(src="#{baseImagesUrl}/languages/angularjs.png", alt="AngularJS")
              
  section#cv
    .section-centering
      h1 Curriculum Vitae
      p Check out my CV! There are two versions to choose from:
      p
        a.button(href="cv") WEB
        a.button(href="cv/gustavkarlsson-cv.pdf") PDF
        
  section#contact
    .section-centering
      h1 Contact me
      p
        | If you want to know more, you can find me on any of the following services.
      table#social
        tr
          td
            a(href="mailto:gustav.karlsson@gmail.com", target="_blank", title="Email")
              i.fa.fa-envelope
          td
            a(href="https://www.linkedin.com/profile/view?id=194331605", target="_blank", title="LinkedIn")
              i.fa.fa-linkedin
          td
            a(href="https://github.com/gustavkarlsson", target="_blank", title="GitHub")
              i.fa.fa-github
          td
            a(href="https://www.facebook.com/gustavkarlsson86", target="_blank", title="Facebook")
              i.fa.fa-facebook-official
        tr
          td
            a(href="https://twitter.com/gkarlsson86", target="_blank", title="Twitter")
              i.fa.fa-twitter
          td
            a(href="skype:mrmadman86?userinfo", target="_blank", title="Skype: mrmadman86")
              i.fa.fa-skype
          td
            a(href="http://www.lastfm.se/user/MrMadMan86", target="_blank", title="Last.fm")
              i.fa.fa-lastfm
          td
            a(href="tel:+46730477399", target="_blank", title="Phone: +46 73 04 77 399")
              i.fa.fa-phone
